/* Footer */

.footer{
    background-color: #1c1d21;
    text-align: center;
    padding: 60px 0;
}

.footer-list{
    list-style: none;
    margin: 30px 0px ;
}
.footer-list .list {
    display: inline-block;
}
.footer-list .list .link{
    display: block;
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: #6195ff;
    margin: 0px 4px;
    border-radius: 50%;
}
.footer-list .list .link .icon{
    line-height: 45px;
}

.footer .footer-desc{
    color: #999;
    text-transform: uppercase;
}
.footer-desc .span{
    color: #6195ff;
}
